@font-face {
  font-family: "Kyiv Type Sans";
  src: url(/kyivtypesans/KyivTypeSans-VarGX.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-hex: #d9d9d9;
  --background-end-rgb: 255, 255, 255;
  --accent-color: #1a128b;
}

html,
body {
  height: 100%;

  font-family: "Kyiv Type Sans", serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-hex);
}

#__next {
  height: 100%;
}

.header__heading {
  color: var(--accent-color);
}

.news-block {
  max-width: 512px;
}

.news-block__notch {
  width: 32px;
  height: 4px;

  background-color: var(--accent-color);
}
